<div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Step 1</a>
      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Step 2</a>
      <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Step 3</a>
      <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Step 4</a>
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
        
        <%# STEP 1 %>
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
      <%= form_for @property do |f| %>
            <div class="field">
                Title: <%= f.text_field :title %>
            </div>

            <div class="field">
                Type: <%= f.select :classification, types %>
            </div>

            <div class="field">
                Images: <%= f.file_field :images, multiple: true %>
            </div>

            <div class="field">
                Description: <%= f.text_area :description %>
            </div>
      </div>


        <%# STEP 2 %>
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <div class="field">
                Max Guest Capacity : <%= f.number_field :capacity %>
            </div>

            <div class="field">
                Beds : <%= f.number_field :beds %>
            </div>

            <div class="field">
                Bathrooms : <%= f.number_field :bathrooms %>
            </div>
      </div>

      <%# STEP 3 %>
      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <div class="field">
                Address : <%= f.text_field :address %>
            </div>

            <div class="field">
                City : <%= f.text_field :city %>
            </div>

            <div class="field">
                State : <%= f.text_field :state %>
            </div>

            <div class="field">
                Zip : <%= f.text_field :zip %>
            </div>
      </div>

      <%# STEP 4 %>
      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            
            <div class="field">
                Amenities : 
                <% amenities.each do |amenity| %>
                    <br><%= f.check_box :amenities, {multiple: true}, amenity, false %>  <label for="property_amenities_<%=amenity%>"> <%= amenity %> </label>
                <% end %>

                <div class="mt-5">
                    <%= f.submit %>
                 </div>
                <% end %>
            </div>
        </div>

    </div>
  </div>
</div>